# ide
.vscode
.vscode/**/*

# build
build
build/**/*

# external libs
libs
libs/**/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# mac crap
.DS_Store
*.xcode-project/
*.xcode-project/**/*
